{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Addresses list{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Street{% endtrans %}</th>
                <th>{% trans %}Housenumber{% endtrans %}</th>
                <th>{% trans %}Postnumber{% endtrans %}</th>
                <th>{% trans %}Postoffice{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('addresses_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                <td>{{ address.street }}</td>
                <td>{{ address.houseNumber }}</td>
                <td>{{ address.postNumber }}</td>
                <td>{{ address.postOffice }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('addresses_show', { 'id': address.id }) }}">{% trans %}show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('addresses_edit', { 'id': address.id }) }}">{% trans %}edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('addresses_new', { 'employeeId': employee }) }}">{% trans %}Create a new address{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
