{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Address{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Street{% endtrans %}</th>
                <td>{{ address.street }}</td>
            </tr>
            <tr>
                <th>{% trans %}Housenumber{% endtrans %}</th>
                <td>{{ address.houseNumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Postnumber{% endtrans %}</th>
                <td>{{ address.postNumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Postoffice{% endtrans %}</th>
                <td>{{ address.postOffice }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('addresses_index', { 'id': address.employee.id }) }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('addresses_edit', { 'id': address.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
