{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Employee edit{% endtrans %}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="{% trans %}Edit{% endtrans %}" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('employees_index', { 'id': employee.company.id }) }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
