{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Employees list{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Firstname{% endtrans %}</th>
                <th>{% trans %}Lastname{% endtrans %}</th>
                <th>{% trans %}Isactive{% endtrans %}</th>
				<th>{% trans %}Street{% endtrans %}</th>
				<th>{% trans %}House number{% endtrans %}</th>
				<th>{% trans %}Post number{% endtrans %}</th>
				<th>{% trans %}Post office{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employees_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{% if employee.isActive %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
				<td>{{ employee.street }}</td>
				<td>{{ employee.houseNumber }}</td>
				<td>{{ employee.postNumber }}</td>
				<td>{{ employee.postOffice }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employees_show', { 'id': employee.id }) }}">{% trans %}show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('employees_edit', { 'id': employee.id }) }}">{% trans %}edit{% endtrans %}</a>
                        </li>
					    <li>
                            <a href="{{ path('addresses_index', { 'id': employee.id }) }}">{% trans %}addresses{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employees_new', { 'company': company }) }}">{% trans %}Create a new employee{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('employees_move', { 'companyId': company }) }}">{% trans %}Move employees{% endtrans %}</a>
        </li>		
    </ul>
{% endblock %}
