{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Employee creation{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %}Create{% endtrans %}" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('employees_index', { 'id': company }) }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
