{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Employee{% endtrans %}</h1>
	<div ng-app="myApp" ng-controller="myCtrl">
    <table>
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Firstname{% endtrans %}</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Lastname{% endtrans %}</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Isactive{% endtrans %}</th>
                <td><a id="isActive" href="javascript: void(0);" ng-click="switch()">{% if employee.isActive %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</a></td>
            </tr>
        </tbody>
    </table>
	</div>
	
	<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http) {
		$scope.switch = function(){
			$http.get("{{ path('employees_switch', { 'id': employee.id }) }}")
			.then(function(response) {
				//var text = jQuery( "#isActive" ).text() == "Yes" ? "No" : "Yes";
				jQuery( "#isActive" ).text(response.data);
			});
		}
	});
	</script>

    <ul>
        <li>
            <a href="{{ path('employees_index', { 'id': employee.company.id }) }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('employees_edit', { 'id': employee.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
