{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Companies list{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Address{% endtrans %}</th>
                <th>{% trans %}Postnumber{% endtrans %}</th>
                <th>{% trans %}Postoffice{% endtrans %}</th>
                <th>{% trans %}Taxnumber{% endtrans %}</th>
                <th>{% trans %}Istaxpayer{% endtrans %}</th>
                <th>{% trans %}Typeofcompany{% endtrans %}</th>
				<th>{% trans %}Numberofactiveemployees{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('companies_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.postNumber }}</td>
                <td>{{ company.postOffice }}</td>
                <td>{{ company.taxNumber }}</td>
                <td>{% if company.isTaxPayer %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
                <td>{{ company.typeOfCompany }}</td>
				<td>{{ company.cnt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('companies_show', { 'id': company.id }) }}">{% trans %}show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('companies_edit', { 'id': company.id }) }}">{% trans %}edit{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('employees_index', { 'id': company.id }) }}">{% trans %}employees{% endtrans %}</a>
                        </li>						
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('companies_new') }}">{% trans %}Create a new company{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
