{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Company{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Address{% endtrans %}</th>
                <td>{{ company.address }}</td>
            </tr>
            <tr>
                <th>{% trans %}Postnumber{% endtrans %}</th>
                <td>{{ company.postNumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Postoffice{% endtrans %}</th>
                <td>{{ company.postOffice }}</td>
            </tr>
            <tr>
                <th>{% trans %}Taxnumber{% endtrans %}</th>
                <td>{{ company.taxNumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Istaxpayer{% endtrans %}</th>
                <td>{% if company.isTaxPayer %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Typeofcompany{% endtrans %}</th>
                <td>{{ company.typeOfCompany }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('companies_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('companies_edit', { 'id': company.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
